body{
  background-color: #EBEBEB;
  font-family: Arial;
  background-image: url('http://2.bp.blogspot.com/-IrLk_g8ulgo/U0aj0gxXrCI/AAAAAAAAFqs/_8GR9iED9zM/s1600/MelbourneCityExplored-43.jpg')
}

h1{
  font-family: Lobster;
}

h4{
  font-family: Lobster;
}

#title{
  margin-top: 20px;
  background-color:#778488;
}

.row{
  background-color: #FFF;
  padding: 10px;
}

#podcastRow{
  <!--background-image: url("http://4.bp.blogspot.com/-HINf-JIVIMw/UjTZ5BNJzpI/AAAAAAAAdAo/Zw_fRdoxMvs/s640/DSC_0146.JPG");-->
  background-position: bottom right;
}
