body{
  background-image: url('http://nysnapshot.files.wordpress.com/2011/07/img_6028.jpg');
  background-size: 100% 100%;
  background-position: bottom-left;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-color: #000;
  font-family: Arial;
  color: #000;
}
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  /* Set the fixed height of the footer here */
  height: 50px;
  background-color: #FFF;
  color: #000;
  margin-left: -15px;
}

#footer div{
  background-color: #FFF;
}

#footer div p{
  padding-top: 7px;
  margin-bottom: -10px;
  color: #000;
}
h1{
  font-family: Lobster;
}

h4{
  font-family: Lobster;
}

h5{
  font-family: Lobster;
  text-align: right;
}

h1, h5{
  margin-bottom: -3px;
}

a:link{
  color: #000;
}

a:visited{
  color: #000;
}

h5 a:link{
  color: #FFF;
}

h5 a:visited{
  color: #FFF;
}

#title{
  margin-top: 20px;
  background-color:#778488;
}

.row{
  background-color: #FFF;
  padding: 10px;
}

#podcastRow{
  <!--background-image: url("http://4.bp.blogspot.com/-HINf-JIVIMw/UjTZ5BNJzpI/AAAAAAAAdAo/Zw_fRdoxMvs/s640/DSC_0146.JPG");-->
  background-position: bottom right;
}
