body{
  background-color: #000;
  font-family: Arial;
  color: #000;
  background-image: url('http://static.squarespace.com/static/515e31a5e4b0875140ca08d1/t/51c9d527e4b0a39e8220ff44/1372181799900/project-renewal.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
}

body div{
  border-radius: 4px;
}
h1{
  font-family: Lobster;
}

h4{
  font-family: Lobster;
}

#title{
  margin-top: 20px;
  background-color:#778488;
}

.row{
  background-color: #FFF;
  padding: 10px;
}

#podcastRow{
  <!--background-image: url("http://4.bp.blogspot.com/-HINf-JIVIMw/UjTZ5BNJzpI/AAAAAAAAdAo/Zw_fRdoxMvs/s640/DSC_0146.JPG");-->
  background-position: bottom right;
}
